.grid_wrapper {
    width: 1000px;
    margin: auto;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
  }